<ion-header>
  <ion-navbar>
    <ion-title>
      Home Page
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToProfile()">
        <ion-icon name="person"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(loginPage)">
        Login
      </button>
      <button ion-item (click)="openPage(signupPage)">
        Signup
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col>
      <sebm-google-map
      [latitude]="location.lat"
       [longitude]="location.lng"
        [zoom]="16"
        (mapClick)="onSetMarker($event)"
        >

        <sebm-google-map-marker
         [latitude]="marker.lat"
       [longitude]="marker.lng"
       *ngIf="marker"
       >
        </sebm-google-map-marker>

      </sebm-google-map>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button
      ion-button
      block
      color="secondary"
      (click)="onConfirm()"
      [disabled]="!marker">Confirm</button>
  </ion-col>
  <ion-col>
     <button
      ion-button
      block
      color="danger"
      (click)="onAbort()"
      >Cancel</button>
  </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
