<ion-header>
  <ion-navbar >
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card>

  <ion-card-header>
     Personal Details
  </ion-card-header>

  <ion-card-content>
  
    <ion-item (click)="updateName()">
        <ion-row>
          <ion-col col-6>
            Name
          </ion-col>
          <ion-col *ngIf="userProfile?.firstName || userProfile?.lastName">
            {{userProfile?.firstName}} {{userProfile?.lastName}}
          </ion-col>
          <ion-col class="placeholder-profile" *ngIf="!userProfile?.firstName">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
        <br>
 <ion-row textalign="middle">
          <ion-col col-6>
            D.O.B
          </ion-col>
           <ion-col>
               <ion-item align="left">
      <ion-datetime displayFormat="MMM D, YYYY" pickerFormat="D MMM YYYY"
        [(ngModel)]="birthDate" (ionChange)="updateDOB(birthDate)">
        </ion-datetime>

    </ion-item>
          </ion-col>
        </ion-row>
    </ion-item>
  </ion-card-content>

</ion-card>



<ion-card>

  <ion-card-header>
    Login Details
  </ion-card-header>

  <ion-card-content>
    <!-- Add card content here! -->


    <ion-item (click)="updateEmail()">
      <ion-grid>
        <ion-row>
          <ion-row>
 <ion-col>
            Email
          </ion-col>

          </ion-row>
          <ion-col col-6 *ngIf="userProfile?.email">
            {{userProfile?.email}}
          </ion-col>
          <ion-col>
               <ion-col class="placeholder-profile" *ngIf="!userProfile?.email">
            <span>
              Tap here to edit.
            </span>
          </ion-col>

          </ion-col>

       
        </ion-row>
      </ion-grid>
    </ion-item>


    <ion-item (click)="updatePassword()">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            Password
          </ion-col>
          <ion-col class="placeholder-profile">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-card-content>

</ion-card>
  </ion-list>
</ion-content>