<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Routes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 

  <ion-list>
    <ion-item text-wrap *ngFor="let route of routes" (click)="clickedRoute(route)">
        <p>{{route.route_number}} -  {{route.route_name}}</p>
    </ion-item>
  </ion-list>



</ion-content>