<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stops</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  

  <ion-list>
    <ion-item text-wrap *ngFor="let stop of stops" (click)="clickedStop(stop)">
        <p>{{stop.stop_name}}</p>
    </ion-item>
  </ion-list>
</ion-content>