<ion-header>
  <ion-navbar>
    <ion-title>
      Dashboard Page
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToProfile()">
        <ion-icon name="person"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content class="home">
 
   
        <ion-grid class="ion-grid-2">

   
    
    <ion-row>
     
      <ion-col>
        <ion-card class="menu" >





    <ion-card>

      <ion-card>
        <ion-card-content>
  <img src="http://smite.esportspedia.com/w/images/d/d4/Logo.jpg">
        </ion-card-content>
      </ion-card>



        
  <!--<ion-card-content>
    <!<ion-card-title>

      </ion-card-title>-->
    <!--<p>
      The most popular industrial group ever, and largely
      responsible for bringing the music to a mass audience.
    </p>-->
  <!--</ion-card-content>-->
</ion-card>

 



</ion-card>
        
      </ion-col>






      
      <ion-col>

          <ion-card  class="menu">

                    <ion-card-header>
            
                    </ion-card-header>
                    <!--Buttons for each activity-->
     

<ion-card (click)="  goToCreate()" >



  <ion-card-content align="middle">
<ion-icon name="camera">Create Video</ion-icon>
  </ion-card-content>

</ion-card>

<ion-card (click)="goToManage()" >

  <ion-card-content align="middle">
  <ion-icon name="albums">Manage Videos</ion-icon>
  </ion-card-content>

</ion-card>

<ion-card (click)="someFunction()" >

  <ion-card-content align="middle">
   <ion-icon name="share">Share Videos</ion-icon>
  </ion-card-content>

</ion-card>

<ion-card (click)="goToProfile()" >

  <ion-card-content align="middle">
<ion-icon name="person">    Your Account</ion-icon>
  </ion-card-content>

</ion-card>
                   

              </ion-card>
     
      </ion-col>
    </ion-row>
        
  


    </ion-grid>






        <ion-grid class="ion-grid-3">
 
      <ion-row style="background-color: #34495E;">

      </ion-row>

    </ion-grid>
 
</ion-content>