page-dashboard {

    .home {
 
    scroll-content {
        display: flex;
        flex-direction: column;
    }
 

        .ion-grid-2 {
        padding: 0;
        height: 90%;
        background: url('http://www.spgenergy.com/blog/wp-content/uploads/2016/02/Soccer-Ball-and-Field.png') no-repeat center;
    }

      .menu {
        padding: 0;
      

        height: 95%;
        width: 100%;
          background-color: transparent;
          
       
    }


    .ion-grid-3 {
        padding: 0;
        height: 10%;
    }


    
 
    ion-row {
        flex: 1;
    }
 
}

}
