<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>

  <ion-card-header>
    Welcom to Travel Melb Mobile App
  </ion-card-header>

  <ion-card-content>

    <p>This app was designed by Deakin 
      University Students for SIT 305 Advanced Apps 
      Development
    </p>
        <p>Authors: Chris Hurley , Daniel Ruffolo
    </p>

 
  </ion-card-content>

</ion-card>

  <ion-card>


  <ion-card-header>
    How It works
  </ion-card-header>



  <ion-card-content>
 <p>The App Adreses the complexity of navagating 
   around Melbournes elaborate transport network 
   through utilising various API's and joining the dots 
   in a manner than minimises the ammount of steps requred to figure out
   what the best way is to get to where you need to be'
    </p>
    <br>

    <div align="middle">
<p>
 <ion-img width="180" height="300" src="assets/img/how1.png"></ion-img>
       <ion-img width="180" height="300" src="assets/img/how2.png"></ion-img>
</p>

<p>
 <ion-img width="180" height="300" src="assets/img/how3.png"></ion-img>
  <ion-img width="180" height="300" src="assets/img/how4.png"></ion-img>
    <ion-img width="180" height="300" src="assets/img/how5.png"></ion-img>
      <ion-img width="180" height="300" src="assets/img/how6.png"></ion-img>
</p>
    </div>




   








 
  </ion-card-content>

  

</ion-card>

  <ion-card>


  <ion-card-header>
    The Nitty Gritty Details
  </ion-card-header>



  <ion-card-content>
 

   <p>Our app is based on the Ionic Framework. We utilise open source cordova libraries to provide a native app experience</p>
  <p> https://ionicframework.com/docs/</p>
  <br>
  
<p>   Ionic is based on google's Angular JS framework. this gives us a common ground to program with</p>
  <p> https://docs.angularjs.org/api</p>
  <br>



  <p>Our app Ties in with PTV's unnoficial Swagger API to extract timetable and geopositions of nearby transit stops'</p>
  <p>https://timetableapi.ptv.vic.gov.au/swagger/ui/index</p>
  <br>


<p>Our app is cental to a google maps instance and relies heavily upon the maps API . The Maps API is essential to simplifiying the process of
traveling on public transport.</p>
<p>https://developers.google.com/maps/</p>
<br>


<p>Our App was Built using learning materials sourced from the following</p>
<p>www.joshmorony - Build Mobile Apps with HTML5.com</p>
<br>
    



 
  </ion-card-content>

  

</ion-card>



</ion-content>

