<ion-header>
  <ion-navbar>
    <ion-title>
      Create A Video
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToProfile()">
        <ion-icon name="person"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(loginPage)">
        Login
      </button>
      <button ion-item (click)="openPage(signupPage)">
        Signup
      </button>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>
      <ion-item>
        <ion-label fixed>Title</ion-label>
        <ion-input
          type="text"
          placeholder="Name of the video"
          name="title"
          ngModel
          required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Short Description</ion-label>
        <ion-textarea
          name="description"
          ngModel
          required></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button
            ion-button
            block
            outline
            type="button"
            icon-left
            (click)="onLocate()">
            <ion-icon name="locate"></ion-icon>
            Locate me
          </button>
        </ion-col>
        <ion-col>
          <button
            ion-button
            block
            outline
            type="button"
            icon-left
            (click)="onOpenMap()">
            <ion-icon name="map"></ion-icon>
            Select on Map
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="locationIsSet">
        <ion-col>
          <sebm-google-map
            [latitude]="location.lat"
            [longitude]="location.lng"
            [zoom]="16">
            <sebm-google-map-marker
              [latitude]="location.lat"
              [longitude]="location.lng"></sebm-google-map-marker>
          </sebm-google-map>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <h5>Record Video!</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button
            ion-button
            icon-left
            block
            outline
            type="button"
            (click)="onTakePhoto()">
            <ion-icon name="camera"></ion-icon>
            Open VideoCamera
          </button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="vidUrl != ''">
            
       
          <video  #myvideo height="300" width="300" [src]="vidUrl" controls></video>

      </ion-row>

      <ion-row>
        <ion-col>
          <button
            ion-button
            color="secondary"
            block
            type="submit"
             (click)="onSubmit()"
            [disabled]="!f.valid || !locationIsSet || vidUrl == ''">
            Store It!
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

