<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Favourite places</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>


  <ion-card-content>

    <p>Set and Travel to your Frequently Traveled Places </p>
 
  </ion-card-content>

</ion-card>



</ion-content>

