<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Timetable</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
<button (click)="clickedRouteBus()">
  <img src="assets/img/Bus.png" style="width : 40% ; height : 20% ;" class="center"  >
</button>
<br>
<button (click)="clickedRouteTrain()">
  <img src="assets/img/Train.png" style="width : 40% ; height : 20%" class="center" >
</button>
<br>
<button (click)="clickedRouteTram()">
  <img src="assets/img/Tram.png" style="width : 40% ; height : 20%" class="center" >
</button>

</ion-content>

