<ion-header>
  <ion-navbar>
    <ion-title>
      Manage Videos
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToProfile()">
        <ion-icon name="person"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(loginPage)">
        Login
      </button>
      <button ion-item (click)="openPage(signupPage)">
        Signup
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content padding>

  <button ion-button block color="primary" (click)="goToCreate()">
    Create a new Sport Video
  </button>



   <ion-card *ngFor="let video of videos; let i = index" (click)="onOpenVideo(video, i)">
  
     <video #myvideo height="300" width="300" [src]="video.vidUrl" controls></video>
    <ion-card-content text-center>

      <ion-card-title>
        {{ video.title }}
      </ion-card-title>

      <p>{{ video.description }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
