page-managevideo {

   background: url(../img/logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 2;
    position: relative;
    
  button {
    margin-bottom: 32px;
  }
}
