<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Journey Planner</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>

  <ion-card-header>
    Travel Melb Mobile app
  </ion-card-header>

  <ion-card-content>

    <p>information about the app goes here</p>
 
  </ion-card-content>

</ion-card>



</ion-content>

