<ion-header>

  <ion-toolbar>

    <ion-searchbar tappable [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
  </ion-toolbar>


   

</ion-header>

<ion-content>
  <ion-list>
    <ion-item tappable *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
      {{ item }}
    </ion-item>
  </ion-list>
</ion-content>

<!--<ion-header>
 <ion-toolbar>
   <ion-title>Enter address</ion-title>
   <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
 </ion-toolbar>
</ion-header>
<ion-content>
 <ion-list>
   <ion-item tappable *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
     {{ item }}
   </ion-item>
 </ion-list>
</ion-content>-->