.ios, .md {
 
    page-home {
 
        .scroll {
            height: 100%
        }
 
        #map {
            width: 100%;
            height: 100%;
            zoom: false;
        }

        
 
        ion-card {
            max-height: 30%;
            max-width: 100%;
            overflow: scroll;
            position: absolute;
            bottom: 0%;
            //z-index will bring element to front of map element , note this
             z-index: 1000;
        }

          ion-item {
         
            overflow: scroll;
            position: absolute;
            //z-index will bring element to front of map element , note this
             z-index: 1;
        }


    

        content-drawer {
            background-color: #34495e !important;
        }
 
        content-drawer .content {
            padding: 20px;
        }
 
    }
 
}